
/* .heading-section {
    background-color: #FFF9F4;
} */

.logo{
    width: 18rem;
    height: 2.16rem;
}

.heading-info{
    width: 23rem;
}

.icon-image{
    height: 1.3rem;
}

.c-shoe-card{
    width: 19.4rem;
    height: 19.4rem;
}
.icon-images{
    width: 8rem;
    height: 8rem;
}